.mainContainer {

  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 20px;
  height: 5vh;
}

.waveButton {
  cursor: pointer;
  align-self: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
  border: 0;
  width: 40vh;
  border-radius: 5px;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 18vh;
}
